language: ruby
gemfile:
  - gemfiles/rails_4_1.gemfile
  - gemfiles/rails_4_2.gemfile
  - gemfiles/rails_5_0.gemfile
rvm:
- 2.3
- 2.2
- 2.1
env:
  global:
    secure: SDYF7gJE/x/3rEwL9CxXHRLwTRBHtqtY/djQ+hg98zlvIQoMYmXcteEqiSM85x6LeFMu1pz4hqinKsSZOQ7ftZi46iWqbFPWHEqTaM7676klzH0xvMAG+I9Yo7NEUyA5OPKrWSJ1+9Smm42WggH3tqwMG5tut4zej310VFD5GMY=
after_script:
- bundle exec codeclimate-test-reporter
